version: '3.8'
services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: Prem@1102
      MYSQL_DATABASE: revtickets_db
      MYSQL_USER: prem
      MYSQL_PASSWORD: Prem@1102
    ports:
      - "3308:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - revticket-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  mongodb:
    image: mongo:7.0
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - revticket-network

  backend:
    build: ./revtickets-backend
    ports:
      - "8082:8080"
    depends_on:
      mongodb:
        condition: service_started
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://host.docker.internal:3306/revtickets_db
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=Prem@1102
      - SPRING_DATA_MONGODB_URI=mongodb://mongodb:27017/revtickets
    networks:
      - revticket-network
    restart: unless-stopped

  frontend:
    build: ./revtickets-frontend
    ports:
      - "4200:80"
    depends_on:
      - backend
    networks:
      - revticket-network

volumes:
  mysql_data:
  mongo_data:

networks:
  revticket-network:
    driver: bridge